<form (ngSubmit)="onSubmitForm()" #form="ngForm">
  <div>
    <input type="text" placeholder="Name..." [(ngModel)]="user.name" required name="name" #nameInput="ngModel" [disabled]="form.submitted">
    <p class="error-msg" *ngIf="nameInput.invalid && nameInput.touched">Please enter a valid name</p>
  </div>
  <div>
    <input type="text" placeholder="Occupation..." [(ngModel)]="user.occupation" name="occupation" [disabled]="form.submitted">
  </div>
  <div>
    <input type="text" placeholder="Email..." [(ngModel)]="user.email" required email name="email" #emailInput="ngModel" [disabled]="form.submitted">
    <p class="error-msg" *ngIf="emailInput.invalid && emailInput.touched">Please enter a valid email</p>
  </div>
  <div>
    <input type="text" placeholder="Subject..." [(ngModel)]="user.subject" required name="subject" #subjectInput="ngModel" [disabled]="form.submitted">
    <p class="error-msg" *ngIf="subjectInput.invalid && subjectInput.touched">Please enter a valid subject</p>
  </div>
  <div>
    <input type="text" placeholder="Content..." [(ngModel)]="user.content" required minlength="10" maxlength="255" name="content"
      #contentInput="ngModel" [disabled]="form.submitted">
    <p class="error-msg" *ngIf="contentInput.invalid && contentInput.touched">Please content length should be beetween 10 and 255 characters</p>
  </div>

  <button type="submit" [disabled]="form.invalid || form.submitted">Submit</button>

</form>
